{% extends 'ingilizce/base.html' %}
{% load static %}

{% block metalar %}		
		<meta name="description" content="{{lesson.descriptions}}">
		<meta name="keywords" content="{{lesson.anahtar}}">
{% endblock%}

<title>{% block title %} {{lesson.filtre1}}-{{lesson.headline}} {% endblock %}</title>
{% block dil %} <link rel="alternate" hreflang="tr" href="https://www.pythonakademi.com{{lesson.hreflang_get_absolute_url}}" />                                    {% endblock %}

{% block language %} <a href="{{lesson.hreflang_get_absolute_url}}"><b>TR</b></a> {% endblock %}

{% block body %}
<div class="container-fluid">
	<div class="row">
		<div class = "col-md-2 col-sm-3 col-xs-12 detailmenu">
		{% for ders in common_lessons   %}
		<a class="index" href="{{ders.get_absolute_url}}">
		<h4 class="baslik {% if ders.slug == lesson.slug  %} tik {% endif %}" ><b>{{ders.headline}}</b>
		</h4>
		</a> 
				
		{%  endfor  %}
		</div>
		<div class="col-md-10 col-sm-9 col-xs-12 content">
			<div class="thumbnail">			
				<div class = "oklar">
					<a class="btn btn-warning menu menu1" role="button"><span class="glyphicon glyphicon-bookmark" aria-hidden="true"></span></a>
					<a href="{{lesson.previous_lesson}}" class="btn btn-success menu" role="button"><</a>
					<a href="{{lesson.next_lesson}}" class="btn btn-success btn-center ikinci menu" role="button">></a>
		
				</div>
					<h3 class ="text-center detailbaslik"> 
						 
						<b>{{lesson.number}}. {{lesson.headline}} </b>
						{% if request.user.is_authenticated %}
						<a href="{{ lesson.get_update_url }}" class="btn btn-info" role="button">Güncelle</a>
						{% endif %}
						

					</h3>
				
					{{lesson.content|safe}}
					
					<p class = "text-primary text-center"><b>Edit: {{lesson.updating_date}}</b></p>
				
				<div class = "oklar">
					<a href="{{lesson.previous_lesson}}" class="btn btn-success" role="button"><</a>
					<a href="{{lesson.next_lesson}}" class="btn btn-success ikinci" role="button">></a>
		
				</div>
						{% if request.user.is_authenticated %}
						<a href="{{ lesson.get_update_url }}" class="btn btn-info" role="button">Güncelle</a>
						<a href="{{ lesson.get_delete_url }}" class="btn btn-danger" role="button">Sil</a>
						{% endif %}
					
				
			</div>
		
		<div class = "container-fluid">
			<div class="row">
			{% for lesson in other_lessons   %}
				<div class = "col-md-6 col-sm-12 col-xs-12">
					<div class = "basliklar {{lesson.filtre1}}">
						<a href="{{lesson.get_absolute_url}}"><h4 class = " abc text-center">{{lesson.headline}}</h4></a>
					</div>		
				</div>
			{%  endfor  %}
			</div>
		</div>
		
		
		
	</div>
	</div>
	</div>
	<script src="{% static 'js/detail/detail.js'%}"></script>
{% endblock %}




				