{% extends 'base.html' %} 
{% load static %}


{% block body %}
<div class = "container-fluid">
<div class="card mt-2">
  <div class="card-body">
    <h4 class="card-title text-danger">{{baslik.title}}</h5>
    <h5 class="card-subtitle mb-2 text-muted">{{baslik.content|linebreaks}}</h6>
    {% if sahip_mi %}
    <a href="{{baslik.degistir}}" class="btn btn-sm btn-outline-info">Başlığı güncelle</a>
    <a href="{% url 'lessons:ders_ekle' baslik.pk %}" class="btn btn-sm btn-outline-primary">Ders Ekle</a>
    {% endif %}
	{% if soru_var_mi %}
	<a href="{% url 'lessons:take_baslik_quiz' baslik.pk %}" class="btn btn-sm btn-outline-danger">Alıştırmalar</a>
	<a href="{% url 'lessons:alistirma_yap' baslik.pk %}" class="btn btn-sm btn-outline-danger">Alıştırma Yap</a>
	{% endif %}
	<a href="{% url 'belgeler:pdf_create' baslik.pk %}" class="btn btn-sm btn-warning">Pdf indir</a>
	<a href="{% url 'belgeler:print_users' baslik.pk %}" class="btn btn-sm btn-warning">Print users</a>
	{% for ders in lessons %}
		{% if forloop.first and sahip_mi %}
			<a href="{% url 'lessons:ders_degistir' baslik.pk ders.pk %}" class="btn btn-sm btn-outline-warning">Tüm lessonsi İncele</a>
		{% endif %}
	
	<h5 class= "card-title text-danger mt-1">{{ders.ranking}}. {{ders.title}}</h5>
	<p class="card-text">{{ders.content|safe}}</p>
	{% if sahip_mi %}
	<a href="{{ders.guncelle}}" class="btn btn-sm btn-outline-info">Dersi Güncelle</a>
    <a href="{{ders.sil }}" class="btn btn-sm btn-outline-danger">Dersi Sil</a>
	{% endif %}
	{% if user.is_authenticated and soru_var_mi %}
	<a href="{% url 'lessons:take_quiz' ders.pk %}" class="btn btn-sm btn-outline-success">Alıştırma</a>
	{% endif %}
	{% endfor %}
  </div>
  <div class = "text-center">
	<button type = "button" class="btn btn-primary btn-sm" data-toggle="tooltip" data-placement="top" title = "Görüntülenme Sayısı"> <i class ="fas fa-eye"></i> {{baslik.views}}</button>
	{% if user.is_authenticated %}
		<a href = "{% url 'profiles:favorilere_baslik_ekle' baslik.pk %}#{{baslik.id}}favori" id = "{{baslik.pk}}favori" type = "button" class="btn btn-warning btn-sm" data-toggle="tooltip" data-placement="top" title = "Favorilere Ekle"> <i class ="far fa-star"></i>{{baslik.favori_sayisi}}</a>
	{% endif %}
	<a href = "{% url 'profiles:begen' baslik.pk %}#{{baslik.id}}begen" id = "{{baslik.pk}}begen" type = "button" class="btn btn-danger btn-sm" data-toggle="tooltip" data-placement="top" title = "Beğen"> <i class ="far fa-heart"></i>{{baslik.begenilme_sayisi}}</a>
  </div>
</div>

 </div>
{% endblock %}
{% block javascript %}
	<script src="{% static 'js/lessons/baslik_detail.js' %}"></script>
{% endblock %}
