{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block body %}
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="{% url 'profiles:ogrenci_profil' baslik.owner.id %}">Başlıklarım</a></li>
      <li class="breadcrumb-item"><a href="{% url 'lessons:baslik_guncelle' baslik.pk %}">{{ baslik.title }}</a></li>
      <li class="breadcrumb-item active" aria-current="page">Yeni Ders Ekle</li>
    </ol>
  </nav>
  <div class = "container-fluid">
	<div class="row justify-content-center">
	    <div class="col-md-6 col-sm-8 col-12 bg-light">
			<h4 class="mb-0 text-center text-secondary">{{baslik.title}} Başlığına Ders Ekle </h4>
			<form method="post" novalidate>
				{% csrf_token %}
				{{ form.title|as_crispy_field }}				
				{{ form.content|as_crispy_field }}
				{{form.media}}
				<div class="form-row">
					<div class="form-group col-10 mb-0">
						{{ form.youtube_urli|as_crispy_field }}
					</div>
					<div class="form-group col-2 mb-0">
						{{ form.ranking|as_crispy_field }}
					</div>
				</div>
    			<button type="submit" class="btn btn-success btn-block btn-sm">Kaydet</button>
			</form>
		</div>
	</div>
  </div>
{% endblock %}
