{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block body %}
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="{% url 'dersler:baslik_listesi' %}">Başlıklar</a></li>
      <li class="breadcrumb-item"><a href="{% url 'dersler:baslik_guncelle' ders.baslik.pk %}">{{ ders.baslik.title }}</a></li>
      <li class="breadcrumb-item active" aria-current="page">{{ders.title}} dersini güncelle</li>
    </ol>
  </nav>
  <div class = "container-fluid">
  <a href="{% url 'dersler:ders_degistir' ders.baslik.pk ders.pk %}" class="btn btn-primary" role="button">Dersleri toplu değiştir</a>
  <div class="row justify-content-center mb-2"> 
  <div class="col-md-6 col-sm-8 col-12 bg-light">
	<h4 class="mb-0 text-center text-secondary">{{baslik.title}} Başlığına ait Dersi Güncelle </h4>
	<form method="post" novalidate>
	  {% csrf_token %}
	  {{ form.title|as_crispy_field }}				
	  {{ form.content|as_crispy_field }}
	  {{form.media}}
	<div class="form-row">
	  <div class="form-group col-10 mb-0">
		{{ form.youtube_urli|as_crispy_field }}
	  </div>
	<div class="form-group col-2 mb-0">
	  {{ form.ranking|as_crispy_field }}
	</div>
	</div>
      <button type="submit" class="btn btn-success btn-block btn-sm">Kaydet</button>
	</form>
  </div>
 </div>
 
    <div class="card">
    <div class="card-header">
      <div class="row">
        <div class="col-10">
          <strong>Ders</strong>
        </div>
        <div class="col-2">
          <strong>Sil</strong>
        </div>
      </div>
    </div>
    <div class="list-group list-group-flush list-group-formset">
      {% for soru in sorular %}
	     <div class="list-group-item">
          <div class="row">
            <div class="col-10">
              <a href="{% url 'dersler:sorulara_cevap_ekle' baslik.pk ders.pk soru.pk %}">{{ soru.content }}</a>
		    </div>
            <div class="col-2">
              <a class = "text-danger" href="{{soru.sil}}"><i class= "fas fa-trash-alt"></i></a>
            </div>
          </div>
        </div>
      {% empty %}
        <div class="list-group-item text-center">
          <p class="text-muted font-italic mb-0">Henüz bir soru yok! <a href="{% url 'dersler:soru_ekle' baslik.pk ders.pk %}">İlk sorunuzu ekleyin</a>.</p>
        </div>
      {% endfor %}
    </div>
    <div class="card-footer">
      <a href="{% url 'dersler:soru_ekle' baslik.pk ders.pk %}" class="btn btn-primary btn-sm">Soru ekle</a>
	</div>
  </div>
  
  </div>
{% endblock %}