{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block body %}
<div class = "container-fluid">
  <div class="progress mb-3 mt-2">
    <div class="progress-bar bg-success" role="progressbar" aria-valuenow="{{ progress }}" aria-valuemin="0" aria-valuemax="100" style="width: {{ progress }}%"></div>
  </div>
  <h4 class="mb-3">{{ quiz.title }}</h4>
  <p class="lead">{{ question.content }}</p>
  <form method="post" novalidate>
    {% csrf_token %}
    {{ form|crispy }}
    <button type="submit" class="btn btn-success">Next →</button>
  </form>
</div>
{% endblock %}
