{% extends 'base.html' %}
{% load static %}

{% block title %} {{lesson.filtre1}}-{{lesson.headline}} {% endblock %}

{% block metalar %}		
		<meta name="description" content="{{baslik.get_ana_başlık_display}}-{{lesson.headline}} ile ilgili örnek ve açıklamaları içerir.">
		<meta name="keywords" content=" {{baslik.get_ana_başlık_display}} Dersleri, {{lesson.headline}}">
{% endblock%}

{% block breadcrumb %}
<nav aria-label="breadcrumb" class = "breadcrumb-detail">
  <ol class="breadcrumb mb-0">
    <li class="breadcrumb-item"><a href="{% url 'front:index' %}">{{baslik.get_ana_başlık_display}}</a></li>
    <li class="breadcrumb-item"><a href="{{baslik.get_absolute_url}}">{{baslik.baslik_adi}}</a></li>
	<li class="breadcrumb-item active" aria-current="page">{{lesson.headline}}</li>
  </ol>
</nav>
{% endblock %}

{% block body %}
<div class = "container-fluid overflow-hidden">
	<div class = "row">
		<div class = "col-md-3 pl-0 mt-0 detailmenu liste">
			<div class="list-group list-group-flush mt-0">
			  {% for ders in lessons %}
				<a href="{{ders.get_absolute_url}}" class="list-group-item list-group-item-action list-group-item-info {% if ders.id ==  lesson.id %}active{% endif %}">{{ders.headline}}</a>
			  {% endfor %}
			</div>
		</div>
		<div class = "col-md-9 content icerik">
			<div class = "mt-1">
				<a href = "{% url 'front:create' %}" class = "btn btn-success">Ders Ekle</a>
				<a href = "{{lesson.get_update_url}}" class = "btn btn-danger">Dersi Güncelle</a>
			</div>
			<h1 class = "text-center text-danger headline">		
				{{lesson.headline}}				
			</h1>
			<div>{{lesson.content|safe}}</div>
			<div class = "oklar">
				<p class = "text-right"><a href="{{lesson.next_lesson.get_absolute_url}}" class="btn btn-success" role="button">{{lesson.next_lesson.headline}} <i class ="fas fa-angle-double-right"></i></a></p>
				<p class = "text-left"><a href="{{lesson.previous_lesson.get_absolute_url}}" class="btn btn-success" role="button"><i class ="fas fa-angle-double-left"></i> {{lesson.previous_lesson.headline}}</a></p>
								
				<p class = "text-center">
					<button type = "button" class="btn btn-warning btn-sm" data-toggle="tooltip" data-placement="top" title = "Görüntülenme Sayısı"> <i class ="fas fa-eye"></i> {{lesson.views}}</button>
					<button  type = "button" class="btn btn-danger btn-sm" data-toggle="tooltip" data-placement="top" title = "Güncellenme Tarihi"> <i class ="far fa-calendar"></i> {{lesson.updating_date|date:"d M y"}}</button>
			
				</p>	
			</div>
		</div>
	</div>
</div>


<script src="{% static 'js/detail/detail.js'%}"></script>
{% block javascript %}
<script>
$(function () {
  $('[data-toggle="tooltip"]').tooltip()
})</script> 
{% endblock %}
{% endblock %}