*.pyc
*~
__pycache__/
myvenv
db.sqlite3
.DS_Store

home/migrations/*
!home/migrations/__init__.py

tur/migrations/*
!tur/migrations/__init__.py

hakkimizda/migrations/*
!hakkimizda/migrations/__init__.py

ingilizce/migrations/*
!ingilizce/migrations/__init__.py

staticfiles/

lokal.py